{% extends 'polls/base_generic.html' %}

{% block content %}
    <div class="post">
        <p>This App is really cool! It allows to register your
            tasks and to display it, no need to memorize!</p>
        <p>Also, it can display your routine. The percentage of
            time distributed between your tasks, according to the
            range you select! The app is interactive, you can modify
            the task of the days wanted from the timetable menu!
        </p>
        <p>Thanks for using it! And we wish you a great exp!!</p>
        <p>The Self Tracking Team</p>
    </div>
{% endblock %}